<body>
    <!-- <app-navmenu -->
  <!-- **********************solo dejar <router-oulet></router-oulet -->
    <style>
      /* Ajustes para el menú lateral */
      #sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #34938A;
        padding-top: 20px;
        padding-right: 10px;
        
      }
  
      #sidebar img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
        margin-left: 60px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      }
  
      #sidebar a {
        padding: 8px 8px 8px 40px;
        text-decoration: none;
        font-size: 18px;
        color: #235144;
        display: block;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
        width: 250px;
      }
  
      #sidebar a:hover {
        color: #f1f1f1;
      }
  
      #name {
          padding: 8px 8px 8px 32px;
          margin-bottom: 20px;
      }
      
      /* Ajustes para el contenido principal */
      #content {
        margin-left: 300px;
        padding: 16px;
        text-align: center;
      }
      #content h2 {
        padding: 30px;
        font-size: 100px;
       
      }
  
      #card {
        margin-top: 100px;
      }
      body {
        /* background-color: #EAE9E5; */
        background-color: #FDF7F4;
      }
      #name {
        padding: 8px 8px 8px 32px;
        margin-bottom: 20px;
      }
    </style>
  
     <!-- Menú lateral -->
     <div id="sidebar">
      <img
        src="https://media.licdn.com/dms/image/C4D03AQEHRK9vAMg7GQ/profile-displayphoto-shrink_800_800/0/1610456043794?e=2147483647&v=beta&t=5th1EMz43gNYMxgSfhtuawoZpPTlkBJmRvEQuUcbrdo"
        alt="Imagen de Usuario">
        <div id="name" class="text-darck ml-3">Fernanda Gomez</div>
      <a>Inicio</a>
      <a (click)="navegar()">Competencias</a>
      <a>Evaluacion Inicial</a>
      <a>Listado Saber</a>
    </div>
    
  </body>